@import './reset.css';

:root {
    --app-margin: 30px;
}

body {
    background-color: #f3f6fb;
}

.flexbox {
    display: flex;
}

/*****************************
    Header
*****************************/
header {
    background-color: #fd9d00;
}

.home-link:hover {
    cursor: pointer;
}

.nav {
    margin-left: auto;
}

.nav ul {
    list-style: none;
}

.link, .home-link {
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.nav ul li + li{
    margin-left: calc(var(--app-margin) / 2);
}
/*****************************
    Banner
*****************************/
.hero-banner {
    height: 600px;
    background-image: url('../img/trucks.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 1000px 1000px rgb(0 0 0 / 0.4);
}

.hero-banner div h2 {
    font-size: 40px;
}

/*****************************
    Map
*****************************/

.info {
    padding-right: var(--app-margin);
}

.map-box p {
    font-style: italic;
}

.get-started {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: #fd9d00;
}

/*****************************
    Footer
*****************************/

footer {
    background-color: #d3d3d3;
}

footer .container {
    font-size: var(--app-margin);
}

footer .nav {
    margin-left: 0;
}

footer .nav ul li i, .copyright {
    color: #404040;
}

.copyright {
    font-size: 17px;
}

/*****************************
    Same properties
*****************************/

.link, .home-link, .hero-banner div h2, .get-started {
    color: #fff;
}

.delivery, .get-started, .info p, footer {
    margin-top: var(--app-margin);
}

.map-box, .copyright {
    margin-left: auto;
}

header .container, footer .container {
    height: 65px;
}

header .container, section .container, .hero-banner, footer .container {
    align-items: center;
}

.link, .home-link, .get-started {
    font-weight: 600;
}

.hero-banner div h2, .map-box p {
    text-align: center;
}